body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    background-color:#8d4817 ;
    font-size: 20px;
}

/* Navigation styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d3845;
    width: 100%;
    margin-top: -9px;
    height: 128px;
    
}

.logo {
    margin-left: 10px;
    width: 120px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;

    
}

.info {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 500px;
    color:  black;
    font-size: 14px;
}

.info p{
    margin-top: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.my-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-radius: 20%;
    width: 170px;
    height: 170px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.navbar ul li a {
    color: #f2e6ac;
    margin-right: 30px;
    font-size: 20px;
}

.navbar ul li a:hover {
    text-decoration: underline;
    color: green;
}


.box {
    width: 650px;
    height: 100px;
    color: rgb(183, 219, 219);
    background-color: #3f3f3fce;
    border-radius: 50px;
    position: absolute;
    left: -100%;
   
    animation: slideIn 7s forwards;
    
}
.box:hover{
    color: rgb(5, 199, 199);
    background-color: #6d4848ce;
    box-shadow: 0 0 10px 5px rgba(247, 159, 59, 0.5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 30px;

}

.port{
    color: aqua;
    font-size: large;
    margin-left: 150px;
}

.meet{
    font-style: italic;
    color: aqua;
    margin-left: 150px;
    margin-top: -20px;
}


.stuff{
    color: antiquewhite;
    position: relative;
}

@keyframes slideIn {
    0%{
       left: -100%;
    }
    100%{
        left: 30%;
    }
}
/* 
.box2 {
    width: 600px;
    height: 150px;
    margin: 10px;
    color: rgb(183, 219, 219);
    background-color: #412c1ece;
    border-radius: 20px;
    position: absolute;
    left: -100%;
    box-shadow: 0 0 10px 5px rgba(247, 159, 59, 0.5);
    animation: slideIn 7s forwards;
}

@keyframes slideIn {
    0%{
       left: -100%;
    }
    100%{
        left: 32%;
    }
} */